<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
      <appSettings>
      <add key="ConexFE" value="Data Source=xxxxxx;Initial Catalog=xxxxxxxx;Persist Security Info=True;User ID=xxxxxx;Password=xxxxxxx;Connect Timeout=60"/>
      <add key="AdminUser" value="alejoguma94@gmail.com" />
      <add key="AdminPassword" value="C@rl1t0X1" />
      <add key="Minutos_SW" value="1" />
      <add  key="SMTPName" value="smtp.gmail.com"/>
      <add key="SMTPPort" value="587"/>
      </appSettings>
        <startup>
          <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>