@{
    ViewBag.Title = "Reporte";
}
<script src="~/scripts/Pago_Reporte.js"></script>
<div class="row">
    <div class="col-md-4">
        <p>                       </p>
        <p>                       </p>
        <p>                       </p>
      @*//  <p>Reporte de Usuarios</p>
        <button id="btnGenerar">Cargar Reporte</button>*@
        <p>                       </p>
        <p>                       </p>
       
        <p>Reporte de Pagos</p>
        <button id="btnGenerar2">Cargar Reporte</button>
      
    </div>
</div>
