<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Registrarse", "Register", "Account", null, null)
    </li>
    <li>
        @Html.ActionLink("Login", "Login", "Account", null, null)
    </li>
    <li>
        @Html.ActionLink("Olvido Clave?", "ForgotPassword", "Account", null, null)
    </li>

</ul>

