<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Cerrar Sesion", "LogOut", "Account", null, null)
    </li>
    <li>
        @Html.ActionLink("Olvido Clave?", "ForgotPassword", "Account", null, null)
    </li>

</ul>

